# Day 09 Tuples

Tuples in Python

# Creating a Tuples

In [1]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# Mixed Data-Type

In [3]:
my_tuple = (1, "hello", 4.5,6+7j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 4.5, (6+7j))
<class 'tuple'>

# Empty Tuple

In [4]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# Nested Tuple

In [5]:
a = ("Data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('Data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating a tuple with only one item

In [6]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [7]:
var2 = ("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

# Tuple Constructer

In [9]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [11]:
a = (45,67,89,34,23)
print(a[-3])

89

In [12]:
b = (45,67,89,34,23)
print(b[3])

34

# Slicing

In [14]:
a = (23,45,67,89,90,8,7,6,5,4,3,22)
len(a)
print(a[0:7])

(23, 45, 67, 89, 90, 8, 7)

In [16]:
a = (23,45,67,89,90,8,7,6,5,4,3,22)
len(a)
print(a[3:10])

(89, 90, 8, 7, 6, 5, 4)

In [17]:
a = (23,45,67,89,90,8,7,6,5,4,3,22)
len(a)
print(a[::2])

(23, 67, 90, 7, 5, 3)

# Reverse

In [19]:
a = (23,45,67,89,90,8,7,6,5,4,3,22)
len(a)
print(a[::-1])

(22, 3, 4, 5, 6, 7, 8, 90, 89, 67, 45, 23)

In [20]:
a = (23,45,67,89,90,8,7,6,5,4,3,22)
print(a[::])
print(a[3:])
print(a[:4])
print(a[-2:-5])

(23, 45, 67, 89, 90, 8, 7, 6, 5, 4, 3, 22)
(89, 90, 8, 7, 6, 5, 4, 3, 22)
(23, 45, 67, 89)
()

In [21]:
t = (1,2,3,4,1,2,4,1,1,1,2,3)
print(t)
print(type(t))

(1, 2, 3, 4, 1, 2, 4, 1, 1, 1, 2, 3)
<class 'tuple'>

In [23]:
a = (25,26,28,29)
y = list(a)
y.append(30)
y.remove(26)
a = tuple(y)
print(a)

(25, 28, 29, 30)

In [24]:
a = (1,2,3,4,5,6,7,8,9,10)
del a
print(a)

NameError: name 'a' is not defined

# loop

In [27]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# join Two Tuple

In [28]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply

In [29]:
a = ("apple","Mango","Orange")
b = a*3
print(b)

('apple', 'Mango', 'Orange', 'apple', 'Mango', 'Orange', 'apple', 'Mango', 'Orange')

In [30]:
T = (1,2,3,4,5,6,7,8,9,10)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

# write a program, to take 5 input fromm the user and store it in a tuple

In [33]:
T = ()
i = 0
while i<=5:
    num = int(input("enter the values please = "))
    T = T + (num,)
    i = i+1
    print(T)

enter the values please = 2
(2,)
enter the values please = 4
(2, 4)
enter the values please = 6
(2, 4, 6)
enter the values please = 8
(2, 4, 6, 8)
enter the values please = 10
(2, 4, 6, 8, 10)
enter the values please = 12
(2, 4, 6, 8, 10, 12)