# Day 02

# Variables and Operators

In [1]:
a = 1
print(a)

1

In [6]:
b = 2
c = 2.3 #float value
print(b,c)

2 2.3

In [5]:
x = " Apple " #string
print(x)

 Apple

In [7]:
Student = 23
print(Student)

23

In [1]:
1@& = 2
print(1@&)

SyntaxError: invalid syntax (1551044377.py, line 1)

In [11]:
student123 = 25
print(student123)

25

In [45]:
a = 5
print(a) #case senstive , and it will show us a error

5

In [13]:
_a = 5
print(_a)

5

# Many Value to Multiple Variables

In [16]:
x,y,z = "orange", "banana","Cherry"
print(x,y,z)

orange banana Cherry

In [17]:
x= y =z ="orange"
print(x)
print(y)
print(z)

orange
orange
orange

# Python Output Variables

In [18]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print()
print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# Data Type

In [1]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [2]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [3]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [4]:
a = "This is the day 2 of python class"
print(a)
print(type(a))

This is the day 2 of python class
<class 'str'>

In [5]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [6]:
c = (1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [7]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        This is the day 2 of python class
b          list       n=10
c          tuple      n=10
x          int        2
y          float      4.5
z          complex    (2+5j)

# Operators in Python

In [8]:
a = 5
b = 3
print(a+b)

8

In [9]:
a = 5
b = 5.6
print(a+b)

10.6

In [10]:
a = 5+3j
b = 4
print(a+b)

(9+3j)

In [13]:
a = "hello"
b = "Students"
print(a+" " +b)

hello Students


# subtraction

In [14]:
a = 5
b = 3
print(a-b)

2

In [15]:
a = 5.67
b = 4.31
print(a-b)

1.3600000000000003

In [16]:
a = 5+5j
b = 3
print(a-b)

(2+5j)

In [3]:
a = "hello"
b = " Students "
print(a-""-b) #it will give you a error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication

In [20]:
a = 50
b = 56
print(a*b)

2800

In [21]:
a = 7.8
b = 4.1
print(a*b)

31.979999999999997

# Divison

In [22]:
a = 10
b = 5
print(a/b)

2.0

# Modulous

In [23]:
a = 19
b = 3
print(a%b)

1

In [24]:
a = 12
b = 4
print(a%b)

0

# Exponent

In [4]:
a = 2
print(a**6)

64

In [32]:
a = ((859*78)+(78.256/89)+(856**67)+(145698-7526))
print(a)

2.990489165920469e+196

In [43]:
a = True
b = False
print(not(a) )

False

In [44]:
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print(a)

20637005.183908045