# List in Python

# Creating a List

In [1]:
mylist = ["apple","mango","cherry"]
print(mylist)
print(type(mylist))

['apple', 'mango', 'cherry']
<class 'list'>

# Allow Duplicates

In [2]:
mylist = [ "apple","mango","cherry","apple" ] 
print(mylist)

['apple', 'mango', 'cherry', 'apple']

# Data Type

In [4]:
list1 = ["apple","mango","cherry"]
list2 = [ 1,2,3]
list3 = [ 2,3.4,4.5 ]
list4 = [ True , False,True ]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'mango', 'cherry']
[1, 2, 3]
[2, 3.4, 4.5]
[True, False, True]

In [5]:
a = [ "apple","mango","cherry",True , False,True,2,3.4,4.5 ]
print(a)

['apple', 'mango', 'cherry', True, False, True, 2, 3.4, 4.5]

# list length

In [8]:
a = ["apple","mango","cherry",True ,False,True,2,3.4,4.5]
print(len(a))

9

In [10]:
b = [15,6,7,8,9,35,23]

print(len(b))

7

# Access Items

In [12]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[8])

6

In [14]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[1])

14

In [18]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[8])

6

In [17]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[-6])

3

# slicing of list

In [19]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[0:6])

[12, 14, 15, 16, 3, 4]

In [20]:
thislist = [ 12,14,15,16,3,4,5,5,6,6]
print(thislist[3:9])

[16, 3, 4, 5, 5, 6]

In [22]:
thislist = [ 12,14,15,16,3,4,5,5,6,6] #jump part , the value one skip after 
print(thislist[0:12:2])

[12, 15, 3, 5, 6]

# Change Items

In [24]:
mylist = ["apple","mango","cherry"]
mylist[1] = "Strawberry"
print(mylist)

['apple', 'Strawberry', 'cherry']

In [26]:
a = [ 1, 23, 7,8,89,100]
a[2] = "Student"
print(a)

[1, 23, 'Student', 8, 89, 100]

# Change a range of item values

In [28]:
a = [ 1, 23, 7,8,89,100,-67,-45]
a[2:4] = ["books","pen","paper"]
print(a)

[1, 23, 'books', 'pen', 'paper', 89, 100, -67, -45]

In [29]:
a = [ 13, 15,15,16] #add value 
a.append(-9)
print(a)

[13, 15, 15, 16, -9]

In [32]:
b = [ "hello","morning","glass"]  #remove
b.remove("morning")
print(b)

['hello', 'glass']

In [36]:
m = [12 ,13,14,15,16,-4,-7]
m.remove(15)
print(m)

[12, 13, 14, 16, -4, -7]

In [38]:
mylist = [ 1,2,4,5,6,6,"hello",7,8,8,"orange"]
mylist.reverse()
print(mylist)

['orange', 8, 8, 7, 'hello', 6, 6, 5, 4, 2, 1]

In [52]:
l = [1,2,3,67,45,67,78,23,89]
print(len(l))
a = 0
for i in range(9):
    a = a + l[i]
    i = i+1
print("the sum of a list is ",a)

9
the sum of a list is  375

# Multiply all the numbers of a list

In [64]:
l = [1,2,3,4,5,6,7,8,9,10]
print(len(l))
a = 1
for i in range(10):
    a = a*l[i]
    i = i+1
print("multiply the number is ", a)

10
multiply the number is  3628800