# Day 11
Set in Python

# creating a set

In [1]:
a = {"animal", "ball" ,"cat"}
print(a)
print(type(a))

{'cat', 'animal', 'ball'}
<class 'set'>

# Set items are unordered

In [2]:
a = {"animal", "ball" ,"cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

# Duplicates not allowed

In [3]:
a = {"animal", "ball" ,"cat","animal","cat","animal"}
print(a)

{'cat', 'animal', 'ball'}

# True and 1 consider the same value

In [9]:
a = {"animal", "ball" ,"cat","animal","cat","animal",1,2,3,True}
print(a)

{'cat', 2, 3, 1, 'animal', 'ball'}

# Get the Length of a Set

In [8]:
a = {"animal", "ball" ,"cat","animal","cat","animal",1,2,3,True}
print(a)
print(len(a))

{'cat', 2, 3, 1, 'animal', 'ball'}
6

# Set Items - Data Type

In [10]:
x1 = {1,2,3}
x2 = {1.2,3.4}
x3 = {"a","b"}
x4 = {True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3} {1.2, 3.4} {'b', 'a'} {False, True}

In [11]:
m = {1,2,3,5.6,7.8,-5,-6,5+4j,True,False}
print(m)

{False, 1, 2, 3, 5.6, 7.8, (5+4j), -6, -5}

In [13]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

In [14]:
x5 = {1,2,3,4}
print(x5)

{1, 2, 3, 4}

In [15]:
x6 = {{"a":1,"b":2}}
print(x6)

TypeError: unhashable type: 'dict'

In [16]:
a = {{1,2,3},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# The Set() Constructor

In [17]:
thisset = set(("alpha","beta","gama"))
print(thisset)
print(type(thisset))

{'gama', 'alpha', 'beta'}
<class 'set'>

# Creating a Empty Set

In [18]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [19]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access Items

In [26]:
a = {"a","b","c","d"}

for x in a:
    print(x)

a
d
b
c

# Check if "items" is present in the set

In [30]:
a = {"Data", "python", "code"}

print("code"in a)

True

In [31]:
a = {"Data", "python", "code"}

print("Analyst"in a)

False

# Add Items

In [32]:
a = {'a','b','c'}
a.add(100)
print(a)

{'a', 100, 'b', 'c'}

In [33]:
x = {"data","python","code"} #add function
y = {10,20,30}
x.update(y)
print(x)

{'code', 20, 'data', 10, 30, 'python'}

# Remove set items

In [41]:
n = {'code', 20, 'data', 10, 30, 'python'} #remove function
n.remove(20)
n.remove("python")
print(n)

{'code', 'data', 10, 30}

In [42]:
m = {'code', 20, 'data', 10, 30, 'python'}
x = m.pop()
print(m)

{20, 'data', 10, 30, 'python'}

In [43]:
k = n = {'code', 20, 'data', 10, 30, 'python'}
k.clear()
print(k)

set()

In [44]:
k = n = {'code', 20, 'data', 10, 30, 'python'}
del k 
print(k)

NameError: name 'k' is not defined

# Join two Sets

In [45]:
x = {"a","b"}
y = {1,2,3}
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b'}

# write a python program to find the max and min values

In [48]:
setn = {5,10,67,89,12,3}
print("original set elements")
print(setn)
print("Maximum value of the set is")
print(max(setn))
print("Minimum value of the set is")
print(min (setn))

original set elements
{3, 67, 5, 89, 10, 12}
Maximum value of the set is
89
Minimum value of the set is
3

# Return a new set of iidentical items from two sets

In [52]:
set1 = {10,20,30,40,50}
set2 = {25,35,45,55,65,50,10,20}

print(set1.intersection(set2))

{50, 10, 20}

# Assignment

In [58]:
x = {1,2,3,4,5,6,7}
print(len(x))
print("maximum value of the set is ")
print(max(x))
print("minimum value of the set is ")
print(min(x))
print([x])
print({x})
print("x")

7
maximum value of the set is
7
minimum value of the set is
1
[{1, 2, 3, 4, 5, 6, 7}]

TypeError: unhashable type: 'set'